<ion-view id="altEnd" title="Alterar Endereço" class="login-app" >

    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>   
    <ion-nav-bar class="roxo">
        <ion-nav-buttons side="left">
            <button ng-controller="voltarButtons" ng-click="MeuProprioVoltar()"  class="button button-icon">
                <a  class="voltarA">
                    <i class="button icon-left ion-ios-arrow-left button-clear button-light"><b class="voltarText">Voltar</b></i>
                </a>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="padding" overflow-scroll="false" has-bouncing="true" ng-controller="DashCtrl">
        <form>
            <div class="list" align="center">
                <label class="item-input-coletivando item-floating-label ">
                    <span class="input-label">Digite seu cep</span>
                    <input id="txtNome" maxlength="9" type="text" placeholder="Seu Cep" ng-model="cepDigitado" ui-br-cep-mask/>
                </label>

                <button class="btnet btn--bevel margin-top"  style="width:80%;font-size:18px;" ng-click="consultarEndereco(cepDigitado)">Consultar Endereço</button>
            </div>

            <ion-list ng-hide="endereco==null">
                <!-- POSSO USAR ISSO PARA OCULTAR O BOTÃO DE ADICIONAR ENDEREÇO PARA UM DE EDITAR ENDEREÇO -->
                <h2 style="color:black;font-size:21px;margin-bottom:-20px;width:100%;" align="center"> Confira seus dados do novo endereço! </h2>


               <label class="item-input-coletivando item-floating-label">
                    <span class="input-label">Cidade</span>
                    <input readonly  type="text" value="{{endereco.localidade}}" placeholder="Digite aqui sua cidade" ng-model="endereco.localidade">
                </label>

         
                  <label class="item-input-coletivando item-floating-label">
                    <span class="input-label">Bairro</span>
                    <input   readonly  type="text" value="{{endereco.bairro}}" placeholder="Digite aqui seu bairro" ng-model="endereco.bairro">
                </label>
             
                <label class="item-input-coletivando item-floating-label">
                    <span class="input-label">Rua</span>
                    <input   readonly type="text" value="{{endereco.logradouro}}" placeholder="Digite aqui sua rua" ng-model="endereco.logradouro">
                </label>
         
                 <label class="item-input-coletivando item-floating-label placeholderCSS">
                    <span class="input-label">Numero:</span>
                    <input type="number" placeholder="Digite aqui o numero de sua casa" ng-model="numero" required>
                    <!-- required nao funciona, ver metodo para bloquear cadastro se nao tiver numero -->
                </label>
                  <label class="item-input-coletivando item-floating-label placeholderCSS">
                    <span class="input-label">Complemento:</span>
                    <input type="text" placeholder="Seu complemento (Se tiver)" ng-model="complemento">
                </label>

                <label class="item-input-coletivando item-floating-label" >
                    <span class="input-label">Estado</span>
                    <input readonly  type="text"  value="{{endereco.uf}}" placeholder="Digite aqui seu estado" ng-model="endereco.uf">
                </label>

              <!--   <label class="item-input-coletivando item-floating-label placeholderCSS">
                    <span class="input-label">Nº do Celular:</span>
                    <input maxlength="15" type="text" placeholder="Digite aqui numero de telefone ou celular"  ng-model="phoneNumber" ui-br-phone-number-mask required>
                     required nao funciona, ver metodo para bloquear cadastro se nao tiver numero 
                </label>-->
     

<div align="center">
                <button ng-disabled="buttonDisabled" class="btnet btn--bevel margin-top" style="font-size:18px;width:70%;" ng-click="editEndereco()">Cadastrar</button>
            </div>
            </ion-list>
        </form>