
    <ion-view id="sobre" title="Sobre Nós" style="transform: translate3d(0px, 0px, 0px) scale(1)!important;">
        <!--<ion-header-bar align-title="center" class="bar-positive">
          <h1 class="title">Login</h1>
        </ion-header-bar> -->
    
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    <ion-nav-bar class="roxo">

        <ion-nav-buttons side="left">
            <button ng-click="goBackHandler()" class="button button-icon">
                <a href="#/tab/main" class="voltarA">
                    <i class="button icon-left ion-ios-arrow-left button-clear button-light"> <b class="voltarText">Voltar</b></i>
                </a>
            </button>
        </ion-nav-buttons>
    
    </ion-nav-bar>
    <ion-content class="sobre-app has-header padding"  has-bouncing="true" overflow-scroll="false" scroll="true" style="padding:40px 20px 20px 20px">
        <div>
          <!--  <img src="http://localhost/GerencialDelivery/imagens/atalos_logo.png" class="bg-card" width="100%"> -->
            <p>
                <b>
                    <h3 align="center"> Top Entregas </h3>
                    
                </b>
       
                <div align="center">
                        <hr />
                  <h2 style="text-align:justify;"> <P> A EMPRESA ATALOS presta assessoria em Gestão EMPRESARIAL, AMBIENTAL e PROJETOS. Surgimos a partir da necessidade do mercado regional em soluções personalizadas que combinem/agreguem resultados rápidos e sustentáveis aos clientes.

                    Nosso compromisso é com resultados
                    
                    Analisamos as características das empresas e observamos como elas estão adaptadas ao seu ambiente de negócio, bem como suas necessidades e requisitos ambientais e regulatórios. Em seguida, traçamos o caminho mais curto entre as metas e os objetivos a serem alcançados.
                    
                    Transformar sonhos em Objetivos e Metas é nosso lema
                    
                    Nosso princípio é garantir a sustentabilidade de nossas empresas clientes, ou seja, garantir a viabilidade econômica de forma ambientalmente correta e socialmente justa.
                    
                    Trabalhamos para evidenciar uma atuação diferenciada e estratégica.
                    <p>
                    
                    MISSÃO
                    
                    Desenvolver a Gestão e ampliar os resultados dos nossos clientes, através de conhecimento técnico e visão estratégica.
                </p>
                <p>
                    VISÃO
                    
                    Elevar a competitividade regional em Soluções Empresariais e alcançar a excelência na prestação de nossos serviços.
                </p>
                <p>
                    VALORES
                    
                    Agilidade
                    Transparência
                    Comprometimento
                    Qualidade
                </p>
                                                        <hr />
<div align="center">
                <p> Nossa pagina no facebook: </p>
                        <a href="https://pt-br.facebook.com/atalosriopreto/" style="font-size:19px;"> Facebook  <i  class="ion-social-facebook button-dark"></i></a>
                    <!--   <a href=""> <i class="button icon-right fab fa-instagram button-clear button-dark"></i> </a> --> 
                            <p>
                                Entre em contato conosco: </p> <p>(17) 3227-1269

                                <p> </h2> 
                                </div>
                </div>
    </ion-content>
</ion-view>